:root {
    --purple: #4b3048;
    --highlight: #fff;
    --button: #232322;
    --enabled: #2f8018;
    --transition: #A59E1E;
    --red: #A03B22;
}

@font-face {
    font-family: montserrat;
    src: url(/style/montserrat-bold.ttf);
}

body {
    overflow-x: hide;
    background: var(--purple);
    font-family: montserrat;
    color: #fff;
    text-transform: uppercase;
    overflow-x: hidden;
}

#pigmice-logo {
    position: fixed;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 90%;
    opacity: 0.2;
    z-index: -1;

    -webkit-user-drag: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.robot-diagram,
.arm-center,
#box-holder {
    display: flex;
    bottom: 0;
    left: 50%;
    width: 100%;
    justify-content: center;
}


.robot-diagram img,
.arm-center div,
#arm-holder img {
    position: fixed;
    bottom: 0;
    width: 37vw;
    height: 37vw;
    /* border: 1px solid white; */
    -webkit-user-drag: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#box-holder {
    left: 0;
}

.buttonHeader {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 200px;
}

.buttonHeader div {
    user-select: none;
    border: 5px solid var(--purple);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    height: 180px;
    padding: 20px;
    aspect-ratio: 1;
    background: var(--button);
    cursor: pointer;
    margin: 0px 50px;
    transition: filter 0.2s;
    z-index: 2;
}

#note-button {
    position: fixed;
    bottom: 0;
    left: 0;
    user-select: none;
    border: 5px solid var(--purple);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    height: 180px;
    padding: 20px;
    aspect-ratio: 1;
    background: var(--button);
    margin: 20px 20px;
    transition: filter 0.2s;
    cursor: pointer;
    z-index: 2;
}

#update-note {
    user-select: none;
    position: fixed;
    left: 20px;
    bottom: 20px;
    width: 60px;
    height: 60px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    background: var(--button);
}

.buttonHeader div:hover {
    filter: brightness(80%);
    transition: filter 0.2s;
}

.buttonHeader div p {
    font-size: 24px;
    text-align: center;
}

.enabled-button {
    background: var(--enabled) !important;
}

.changing-button {
    background: var(--transition) !important;
}

.disabled-button {
    background: var(--red) !important;
}

#intake-diagram {
    transform-origin: 39% 83%;
    transform: rotate(88deg);
    transition: transform 0.75s;
}

#arm-holder {
    transform-origin: 84% 78%;
    transform: rotate(-70deg);
    transition: transform 0.75s;
}

#box-holder {
    transform-origin: 66% 30%;
    transform: rotate(120deg);
    transition: transform 0.75s;
}

#note-diagram {
    transition: transform 0.2s;
}

#c-middle-diagram {
    transition: transform 2s;
}

#c-top-diagram {
    transition: transform 2s;
}